.navbar{
    width:100%;
    background:#24292f;
    color:#fff;
}

.nav-container{
    max-width:1200px;
    margin:auto;
    padding:15px 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.nav-center{
    font-size:20px;
    font-weight:600;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-right a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.logout-btn{
    background:#4CAF50;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

/* ---------- Mobile ---------- */

@media (max-width:768px){

.nav-container{
    flex-direction:column;
    gap:18px;
    text-align:center;
}

.logo{
    font-size:28px;
}

.nav-center{
    font-size:18px;
}

.nav-right{
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
    gap:12px;
}

.nav-right a{
    font-size:16px;
}

.logout-btn{
    padding:8px 16px;
}

}